
table.cal{
    display: inline-block;
    min-height: 600px;
    width: 97%;
    color: #154398;
    border-spacing: 0;
    border-radius: 20px;
    padding: 2%;
    margin: 2%;
    border: 1px solid grey;
}

table>caption{
    border: 3px solid blueviolet;
    border-radius: 13px;
    text-transform: uppercase;
    text-align: center;
    background-color: aqua;
    color: #000000;
    font-size: 50px;
    padding: 1%;
    margin: 2%;
}