
table.cal{
    display: inline-block;
    min-height: 600px;
    width: 97%;
    color: #154398;
    border-spacing: 0;
    border-radius: 20px;
    padding: 2%;
    margin: 2%;
    border: 1px solid grey;
}

table>caption{
    border: 3px solid blueviolet;
    border-radius: 13px;
    text-transform: uppercase;
    text-align: center;
    background-color: aqua;
    color: #000000;
    font-size: 50px;
    padding: 1%;
    margin: 2%;
}

td{
    text-align: center;

}

tr>th{
    background-color: #29a6f6;
    border: 1px solid white;
    text-align: center;
    vertical-align: center;
    font-size: 25px;
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
    height: 50px;
}

table.cal>th, td{
    width: 10%;
    margin: 2%;
    height: 60px;
    border: 2px outset white ;
    vertical-align: top;
    border-radius: 10px;
}

.horas{
    margin: 0;
    padding: 0;
    background-color: #ffd180;
}

.webApp{
    margin: 0;
    padding: 0;
    background-color: #a5d6a7;
}

span{
    display: block;
    text-align: center;
    color: #800000;
    visibility: hidden;
}

td:active > span {
    visibility: visible;
}

.tutoria{
    margin: 0;
    padding: 0;
    background-color: #0fb7e0;
}

.design{
    margin: 0;
    padding: 0;
    background-color: #e49ae0;
}

.marketing{
    margin: 0;
    padding: 0;
    background-color: #cbd874;
}

.integradora{
    margin: 0;
    padding: 0;
    background-color: #d8ba74; 
}

.english{
    margin: 0;
    padding: 0;
    background-color: #7674d8; 
}

.foso{
    margin: 0;
    padding: 0;
    background-color: #d87479; 
}

.os{
    margin: 0;
    padding: 0;
    background-color: #d174d8; 
}

.calculo{
    margin: 0;
    padding: 0;
    background-color: #74b5d8; 
}

.tableProfessors{
    display: inline-block;
    min-height: 600px;
    width: 97%;
    color: #1e2218;
    border-spacing: 0;
    border-radius: 20px;
    padding: 2%;
    margin: 2%;
    border: 1px solid rgb(235, 147, 147);  
}

.hoursPerWeek{
    text-align: center;
}

table.tableProfessors>th{
    background-color: #800000;
}
